<app-top></app-top>
<div>
  <form [formGroup]="addsubjectForm">
    <input type="text" placeholder="รหัสวิชา" formControlName="subject_id" />
    <button type="submit" *ngIf="sectionHold.length == 0" (click)="onSubmit()">Submit</button>
    <div *ngIf="sectionHold.length != 0">
      <mat-form-field  appearance="fill">
        <mat-label>เลือกตอนเรียน</mat-label>
        <mat-select formControlName="sectionSelect">
          <mat-option *ngFor="let food of sectionHold" [value]="food">
            {{food}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" (click)="ok()" [disabled]="addsubjectForm.invalid">Click</button>
      <button type="submit" (click)="cancel()">Cancel</button>
    </div>
  </form>
  <form>

  </form>
  <table>
    <tr>
      <th>รหัสวิชา</th>
      <th>ชื่อวิชา</th>
      <th>หน่วยกิจ</th>
      <th>รหัสวิชา</th>
      <th>ชื่ออาจารย์</th>
      <th>ตอนเรียนที่</th>
      <th>ลบ</th>
    </tr>
    <tr *ngFor="let b of studentClass">
      <td>{{b.subject_id}}</td>
      <td>{{b.subject_name}}</td>
      <td>{{b.credit}}</td>
      <td>{{b.teacher_id}}</td>
      <td>{{b.teacher_fname}} {{b.teacher_lname}}</td>
      <td>{{b.subject_section}}</td>
      <td><button class="btn btn-danger" (click)="delete(b.subject_id)">Delete</button></td>
    </tr>
  </table>
  <button (click)="save()">ลงทะเบียน</button>
</div>
